@CHARSET "ISO-8859-1";

html,iframe {
	margin: 0;
	padding: 0;
	height: 2668px;
}

body {
	background: url("/images/background.gif") repeat scroll 0 0;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #85859c;
	font-family: Ubuntu, sans-serif;
	font-size: 10px;
	height: 100%;
}

center {
	display: block;
	text-align: -webkit-center;
}

.wrapx {
	border: none;
	width: 80%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 30px #888;
	width: 80%;
	min-height: 100%;
	zoom: 1;
}
.logoImage {
    height: 80px;
    width: 215px;
}

.logo {
	float: left;
	height: 46px;
	padding-left: 40px;
}

#search_box {
	float: left;
	overflow: hidden;
	padding-left: 22px;
	padding-top: 47px;
	text-align: left;
	word-spacing: -1px;
}

#page_header {
	background-color: #005d72;
	color: #fff;
	height: 100px;
	overflow: hidden;
	position: fixed;
	padding-top: 0px;
	width: inherit;
}

#text_box {
	height: 22px;
	font-size: 14pt;
	color: #8a8a8a;
	font-style: italic;
	font-family: Roboto;
	border: 3px solid #27EEC7;
}

#search_box input.button {
	background-color: transparent;
	float: right;
	height: 30px;
	margin-left: 0px;
	margin-top: 0;
	padding: 0;
	width: 32px;
}

#page_headerlinks {
	float: right;
	padding-top: 30px;
	padding-right: 20px;
	text-align: left;
	width: 275px;
	height: 60px;
	word-spacing: -1px;
}

#cart {
	float: right;
	clear: right
}

#account {
	float: right;
	padding-right: 10px;
}

#menu_bar {
	background-color: #002128;
	color: #ffffff;
	height: 40px;
	overflow: hidden;
	margin-bottom: 1px;
	position: fixed;
	top: 100px;
	width: inherit;
	color: #000000;
}

#menu_bar ul {
	list-style-type: none;
	overflow: hidden;
	width: 780px;
}

#menu_bar li {
	background-color: #002128;
	float: left;
	font-size: 20px;
	font-style: bold;
	height: 30px;
	margin-right: 1px;
	overflow: hidden;
	text-align: center;
	color: #ffffff;
	width: 170px;
}

#header_li {
	text-decoration: none;
	float: center;
	vertical-align: middle;
	float: left;
	clear: left;
	padding-left: 80px;
	padding-right: 20px;
	color: #ffffff;
}

#header_li_first {
	text-decoration: none;
	float: center;
	vertical-align: middle;
	float: left;
	clear: left;
	padding-left: 60px;
	padding-right: 20px;
	color: #ffffff;
}

#container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#page_body {
	padding-top: 140px;
	float: left;
}

.side_menu {
	background-color: #6EC9B7;
	text-decoration: none;
	width: 200px;
	clear: left;
}

.side_menu_anchors {
	text-decoration: none;
	color: #000000;
}

.side_menu_div {
	background-color: #6EC9B7;
	width: 196px;
	border: 2px solid #000000;
	height: 28px;
	font-size: 20px;
	font-style: bold;
	text-decoration: none;
	padding-top: 10px;
	border-bottom: none;
	text-align: center;
}

.side_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

#side_menu li {
	background-color: #6EC9B7;
	font-size: 20px;
	font-style: bold;
	height: 40px;
	width: 100;
	margin-right: 1px;
	overflow: hidden;
	text-align: center;
	color: #000000;
}

#side_menu li .innerNav {
	background: url("/images/electronics_final.png") repeat scroll 0 0 #fff;
	border-color: #f68b1f #9e9e9e #9e9e9e;
	border-image: none;
	border-right: 1px solid #9e9e9e;
	border-style: solid;
	border-width: 3px 1px 1px;
	color: #424240;
	display: none;
	padding: 0 0 20px;
	position: absolute;
	width: 760px;
	z-index: 105;
}

.side_menu_arrow {
	float: right;
}

.left_nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #6ec9b7;
    border-color: #000000 #000000 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    font-size: 20px;
    height: 28px;
    overflow: visible;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 196px;
}

#first_element_nav,#second_element_nav,#third_element_nav,#fourth_element_nav,#fifth_element_nav,#sixth_element_nav,#seventh_element_nav
	{
	overflow: visible;
	border-style: solid;
	border-width: 3px 1px 1px;
	color: #424240;
	display: none;
	position: absolute;
	left: 325px;
	width: 600px;
	height: 300px;
}

#first_element_nav {
	background-image: url("/images/electronics.png");
	top: 140px;
}

#second_element_nav {
	background-image: url("/images/groceries.png");
	top: 180px;
}

#third_element_nav {
	background-image: url("/images/groceries.png");
	top: 220px;
}

#fourth_element_nav {
	background-image: url("/images/groceries.png");
	top: 260px;
}

#fifth_element_nav {
	background-image: url("/images/groceries.png");
	top: 300px;
}

#sixth_element_nav {
	background-image: url("/images/groceries.png");
	top: 340px;
}

#seventh_element_nav {
	background-image: url("/images/groceries.png");
	top: 380px;
}