@CHARSET "ISO-8859-1";

/* home.css */
html, body {
    margin: 0;
    padding: 0;
}
div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}


html,iframe {
	margin: 0;
	padding: 0;
	height: 2668px;
}

body {
	background: url("/images/background.gif") repeat scroll 0 0;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #85859c;
	font-family: Roboto;
	font-size: 10px;
	height: 100%;
}

.btn {
	background: #eb8a8d;
	background-image: -webkit-linear-gradient(top, #eb8a8d, #c7080e);
	background-image: -moz-linear-gradient(top, #eb8a8d, #c7080e);
	background-image: -ms-linear-gradient(top, #eb8a8d, #c7080e);
	background-image: -o-linear-gradient(top, #eb8a8d, #c7080e);
	background-image: linear-gradient(to bottom, #eb8a8d, #c7080e);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 5px 15px;
	border: solid #c7080e 2px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #f58289, #f04f54);
	background-image: -moz-linear-gradient(top, #f58289, #f04f54);
	background-image: -ms-linear-gradient(top, #f58289, #f04f54);
	background-image: -o-linear-gradient(top, #f58289, #f04f54);
	background-image: linear-gradient(to bottom, #f58289, #f04f54);
	text-decoration: none;
	cursor: pointer;
}

center {
	display: block;
	text-align: -webkit-center;
}

.wrapx {
	border: none;
	width: 80%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 30px #888;
	min-height: 100%;
	zoom: 1;
}

.small_logoImage {
	height: 63px;
	width: 198px;
}

.big_logoImage {
	height: 75px;
	width: 215px;
	padding-top: 14px;
}

.logo {
	float: left;
	height: 46px;
	padding-left: 40px;
}

.header {
	background-color: #005d72;
	color: #fff;
	overflow: hidden;
	position: fixed;
	padding-top: 0px;
	width: inherit;
}

#big_header {
	height: 100px;
	z-index: 1;
}

#small_header {
	height: 64px;
	z-index: 1;
}

#big_headerlinks {
	float: right;
	padding-top: 14px;
	padding-right: 20px;
	text-align: left;
	height: 60px;
	word-spacing: -1px;
	z-index: 1;
}

#small_headerlinks {
	float: right;
	padding-top: 20px;
	padding-right: 70px;
	text-align: left;
	height: 60px;
	word-spacing: -1px;
}

#big_search_box {
	float: left;
	overflow: hidden;
	padding-left: 25px;
	padding-top: 36px;
	text-align: left;
	word-spacing: -1px;
}

#small_search_box {
	float: left;
	overflow: hidden;
	padding-left: 25px;
	padding-top: 15px;
	text-align: left;
	word-spacing: -1px;
}

.search_box {
	border: 2px solid #c7080e;
	color: #8a8a8a;
	font-family: Roboto;
	font-size: 12pt;
	height: 26px;
	width: 480px;
}

.big_cart {
	float: right;
	clear: right;
}

.small_cart {
	float: right;
	clear: right;
	height: 27px;
	width: 27px;
}

.account {
	width: 25px;
	height: 25px;
}

.account_link {
	color: white;
	font-size: 11pt;
}

.acc_lbl {
	
}

#menu_bar {
	background-color: #002128;
	color: #ffffff;
	height: 40px;
	overflow: hidden;
	margin-bottom: 1px;
	position: fixed;
	top: 100px;
	width: inherit;
	color: #000000;
	z-index: 1;
}

#menu_bar ul {
	list-style-type: none;
	overflow: hidden;
	width: 780px;
}

#menu_bar li {
	background-color: #002128;
	float: left;
	font-size: 20px;
	font-style: bold;
	height: 30px;
	margin-right: 1px;
	overflow: hidden;
	text-align: center;
	color: #ffffff;
	width: 170px;
}

#header_li {
	text-decoration: none;
	float: center;
	vertical-align: middle;
	float: left;
	clear: left;
	padding-left: 80px;
	padding-right: 20px;
	color: #ffffff;
}

#header_li_first {
	text-decoration: none;
	float: center;
	vertical-align: middle;
	float: left;
	clear: left;
	padding-left: 60px;
	padding-right: 20px;
	color: #ffffff;
}

#container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#page_body {
	padding-top: 140px;
	float: left;
	width:100%;
}

.side_menu {
	background-color: #6EC9B7;
	text-decoration: none;
	width: 200px;
	clear: left;
	float:left;
}

.side_menu_anchors {
	text-decoration: none;
	color: #000000;
}

.side_menu_div {
	background-color: #6EC9B7;
	width: 196px;
	border: 2px solid #000000;
	height: 28px;
	font-size: 20px;
	font-style: bold;
	text-decoration: none;
	padding-top: 10px;
	border-bottom: none;
	text-align: center;
}

.side_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

#side_menu li {
	background-color: #6EC9B7;
	font-size: 20px;
	font-style: bold;
	height: 40px;
	width: 100;
	margin-right: 1px;
	overflow: hidden;
	text-align: center;
	color: #000000;
}

#side_menu li .innerNav {
	background: url("/images/electronics_final.png") repeat scroll 0 0 #fff;
	border-color: #f68b1f #9e9e9e #9e9e9e;
	border-image: none;
	border-right: 1px solid #9e9e9e;
	border-style: solid;
	border-width: 3px 1px 1px;
	color: #424240;
	display: none;
	padding: 0 0 20px;
	position: absolute;
	width: 760px;
	z-index: 105;
}

.side_menu_arrow {
	float: right;
}

.left_nav {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #6ec9b7;
	border-color: #000000 #000000 -moz-use-text-color;
	border-image: none;
	border-style: solid solid none;
	border-width: 2px 2px medium;
	font-size: 20px;
	height: 28px;
	overflow: visible;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	width: 196px;
}

#first_element_nav,#second_element_nav,#third_element_nav,#fourth_element_nav,#fifth_element_nav,#sixth_element_nav,#seventh_element_nav
	{
	overflow: visible;
	border-style: solid;
	border-width: 3px 1px 1px;
	color: #424240;
	display: none;
	position: absolute;
	left: 335px;
	width: 600px;
	height: 300px;
	z-index: 2;
}

#first_element_nav {
	background-image: url("/images/electronics.png");
	top: 140px;
}

#second_element_nav {
	background-image: url("/images/groceries.png");
	top: 180px;
}

#third_element_nav {
	background-image: url("/images/groceries.png");
	top: 220px;
}

#fourth_element_nav {
	background-image: url("/images/groceries.png");
	top: 260px;
}

#fifth_element_nav {
	background-image: url("/images/groceries.png");
	top: 300px;
}

#sixth_element_nav {
	background-image: url("/images/groceries.png");
	top: 340px;
}

#seventh_element_nav {
	background-image: url("/images/groceries.png");
	top: 380px;
}



.cart_wrap{
	width:100%;
	background-color :#ffffff;
	padding-top:100px;
	font-family: Roboto;
	text-align: center;
	text-shadow: aqua;
	font-style: italic;
	height:100%;
	overflow:visible;}



.cart
	{width:100%;}
	
.cart_wrap h2{
	font-family: Roboto;
	font-size: 30px;
	color:red;}
	
.cart_wrap table th
{font-family: Roboto;
	font-size: 20px;
	color:black;.
	 border-collapse: collapse;
	 border-bottom: 2px double #b80000;
	}
	
	.cart_wrap table td
{	font-family: Roboto;
	font-size: 12px;
	vertical-align: middle;
	color:black; 
	text-align: center;
	 border-bottom: 1px solid #b80000;
}

.cart_buttons{
	padding-left:15px;
	padding-right:15px;
	
}
.continue_shopping ,.Proceed_to_checkout{
	background: linear-gradient(to bottom, #6ec9b7, #005d72) repeat scroll 0 0 #005d72;
	border: 1px solid #005d72;
	border-radius: 1px;
	font-family: Roboto;
	color: #ffffff;
	font-size: 18px;
	height:35px;
	width:250px;
	border-radius: 16px;
	text-decoration: none;
	
}

.continue_shopping:hover, .Proceed_to_checkout:hover  {
	background: #6ec9b7;
	text-decoration: none;
	cursor : pointer;
}
.continue_shopping {
	float :left;
}
.Proceed_to_checkout {
	float :right;
}

.email_wrap{
	width:100%;
	height:500px;
	padding-top:100px;
}

.email_mid
{	vertical-align:middle;
	height:150px;
	width:300px;
	float:center;
	padding-top:50px;
	padding-left:200px;
}
.email_hidden
{
	height:150px;
	width:150px;
}